#arrow {
	
	display: block;
	background-repeat: no-repeat;
	
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
	margin: 0 auto;
}

#distance {
	margin: 0 auto;
	text-align: center;
}

#feedback {
	display: inline-block;
}

#msg {
	display: none;
	text-align: center;
}
#footer {
  position: absolute;
  left: 5;
  bottom: 0;
  text-align: center;
  width: 90%;
}

.progress-bar{
	background-color: #48a69c !important;
	color: #000 !important;
}

.progress{
	background-color: #333 !important;
}

img#arrow{
	margin:0 auto;
}



.ui-page {
    background: transparent !important;
}
.ui-content{
    background: transparent !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{

	background-color: transparent !important;
	text-shadow:none !important;
}

body {
	background-image:url('../img/metal2.png')!important;

	background-repeat: repeat!important;
	font-family: 'Orbitron', sans-serif !important;
	color: white !important;
}

body h1{
	color: white !important;
}

body, input, select, textarea, button, .ui-btn{
	font-family: 'Orbitron', sans-serif !important;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited{
	background-color: #000 !important;
	border-color: #48a69c !important;
}

#techring{
	margin-left: 13%;
	
	
}
#techpics{
	background-image:url('../img/techlines.png')!important;
	background-repeat: repeat !important;
	background-size: 100%;
	padding-bottom: 50px;
}

img#logo{
	margin-left:11%;

}